#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-star-1_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0a1ba1dd-5ae5-4715-9e64-10dcc7cd4868 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}