#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-Label_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-Label_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-checkbox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-16ef2bad-db66-43aa-b47e-a27cc3756f00 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}