#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}