#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 21px 21px 21px 21px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 114px;
  width: 125px;
  -ms-transform: rotate(0.0deg);
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 21px 21px 21px 21px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 114px;
  width: 125px;
  -ms-transform: rotate(0.0deg);
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1917b91b-74e2-4417-8a83-2ff747be999c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}