#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Line {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-flat_Button_darkTheme {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}