#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #434343;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Rectangle_2 {
  position: absolute;
  width: 335px;
  height: 393px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Rectangle_2 > .clipping, #s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Rectangle_2 > .paddingLayer {
  height: 393px;
  width: 335px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-input_text_area {
  position: absolute;
  width: 318px;
  height: 166px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Input_4 textarea::-webkit-input-placeholder {
  color: #EFEFEF;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Input_4 textarea::-moz-placeholder {
  color: #EFEFEF;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Input_4 textarea:-moz-placeholder {
  color: #EFEFEF;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Input_4 textarea:-ms-input-placeholder {
  color: #EFEFEF;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Input_4 {
  position: absolute;
  width: 0px;
  height: 166px;
  opacity: 0.2;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Input_4 textarea {
  height: 142px;
  width: 83px;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 0px;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Input_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: -8px 4px 5px 0px #404040;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Line_7 {
  position: absolute;
  width: 318px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_7 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Line_8 {
  position: absolute;
  width: 318px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #019AE8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #shapewrapper-s-Line_8 {
  display: none;
}
#shapewrapper-s-Line_8 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-Line {
  position: absolute;
  width: 335px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-flat_Button_darkTheme > .backgroundLayer {
  height: calc(100% + -6px);
  width: calc(100% + -6px);
  background-color: transparent;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  box-shadow: none;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-flat_Button_darkTheme {
  position: absolute;
  width: 163px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-flat_Button_darkTheme > .clipping, #s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-flat_Button_darkTheme > .paddingLayer {
  height: 22px;
  width: 143px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-flat_Button_darkTheme .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-flat_Button_darkTheme span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-flat_Button_darkTheme span#rtr-s-flat_Button_darkTheme_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-stars {
  position: absolute;
  width: 216px;
  height: 45px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1 > svg {
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1 > img, #s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1 > svg {
  height: 45px;
  width: 45px;
  box-shadow: none;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_1 > svg {
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_1 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_1 > img, #s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_1 > svg {
  height: 45px;
  width: 45px;
  box-shadow: none;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_2 > svg {
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_2 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_2 > img, #s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_2 > svg {
  height: 45px;
  width: 45px;
  box-shadow: none;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_3 > svg {
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_3 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_3 > img, #s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_3 > svg {
  height: 45px;
  width: 45px;
  box-shadow: none;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_4 > svg {
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_4 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_4 > img, #s-1e02236d-b496-4c66-bfe8-0b76ad31c20b #s-star-1_4 > svg {
  height: 45px;
  width: 45px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1e02236d-b496-4c66-bfe8-0b76ad31c20b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}