#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-search {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-send_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_202 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_196 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_201 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_200 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_199 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_198 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_197 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-raised_Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 24px;
  width: 305px;
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Menu {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Rectangle_115 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_195 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-drop-down {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Two-line-item_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Two-line-item_24 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Two-line-item_22 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Two-line-item_35 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Two-line-item_34 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Two-line-item_23 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Two-line-item_41 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Two-line-item_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 #s-Two-line-item_44 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5173cbe1-1ab2-4085-96de-2e294eb45639 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}