#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Description {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Picture {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Location_info {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-star-1_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-star-1_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-star-1_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-star-1_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-star-1_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Location_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Rating {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-button {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-tap-button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-send_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-drop-down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Two-line-item_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Two-line-item_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Two-line-item_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Two-line-item_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Two-line-item_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Two-line-item_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Two-line-item_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-Two-line-item_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a #s-flat_Button_darkTheme {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-747fc3a1-cb07-47ee-a2aa-dc2801a9ac1a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}