#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Menu {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Rectangle_115 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_195 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-drop-down {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_24 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_22 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_35 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_34 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_23 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_41 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_44 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Map {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Pinmap {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-tap-button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-directions_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-tap-button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-located-fixed_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Components_panel {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-mic_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-menu_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Pinmap_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Pinmap_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}