#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-drop-down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Two-line-item_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Map {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Pinmap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-tap-button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-directions_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-tap-button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-located-fixed_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-mic_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-menu_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Pinmap_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b #s-Pinmap_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9b8c1b48-89ed-49f7-b83c-b7a82ca2e12b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}