#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Ellipse_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Input_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Input_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 26px;
  width: 217px;
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-flat_Button_disabled {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 53px 53px 53px 53px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 38px;
  width: 189px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a3be7b44-04e1-47ae-97aa-f6e243b86e0b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}