#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Rectangle_29 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Label_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Label_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Button_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Button_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Rectangle_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Button_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Rectangle_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Button_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Button_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Button_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Button_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 #s-Button_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b1bf42bb-d9e0-41b2-b5dc-f19b5fc94082 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}