#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Rectangle_29 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Label_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Label_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b6426b6e-4815-4799-a45f-dcff3e5ca4bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}