#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Picture_user {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Label_name {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-dots_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-edit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Two-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Two-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Description {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Two-line-item_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Image_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}