#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Picture_user {
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Label_name {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-dots_menu {
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-edit {
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Two-line-item_2 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Two-line-item_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Two-line-item_3 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Description {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Arrow {
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Two-line-item_5 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Image_116 {
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c51a54af-110c-410e-9202-6192cf5c720c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c51a54af-110c-410e-9202-6192cf5c720c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}