#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Bg_status {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Picture_user {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Label_name {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-dots_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-edit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Line {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-phone_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Image_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-drop-down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d #s-Two-line-item_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ce3e85d6-f0d5-42d9-892f-0caa5f0fb32d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}