#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-Ellipse_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-Image_124 {
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 8px 8px 8px 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 31px;
  width: 242px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-df44422a-29a7-440f-a9b5-ddebcde14be3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}