#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-hour {
  -ms-transform: rotate(0.0deg);
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-signals {
  -ms-transform: rotate(0.0deg);
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Square {
  -ms-transform: rotate(0.0deg);
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Circle {
  -ms-transform: rotate(0.0deg);
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Triangle {
  -ms-transform: rotate(0.0deg);
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}