#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 #t-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-781733a8-e0bf-4108-ad03-212bdd511494 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}