#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Square {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Circle {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Triangle {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-hour {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-signals {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Menu {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Panel_7 > .valign {
  vertical-align: top;
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Rectangle_115 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Image_195 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-drop-down {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Two-line-item_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Two-line-item_24 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Two-line-item_22 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Two-line-item_35 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Two-line-item_34 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Two-line-item_23 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Two-line-item_41 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Two-line-item_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 #t-Two-line-item_44 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-cf6f0184-b84b-48ac-b1ac-7c6d626cc892 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}