#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Square {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Circle {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Triangle {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-hour {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-signals {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Menu {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Panel_7 > .valign {
  vertical-align: top;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Rectangle_115 {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_195 {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-drop-down {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_25 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_24 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_114 {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_22 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_34 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_41 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_44 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}