#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-drop-down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b #t-Two-line-item_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-e56e2d3c-3cca-473f-a072-32d3c9b3af1b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}